.header {
  width: 100%;
  //height: 145px;
  background-color: #fecd08;
  //position: relative;
  .header-top {
    //background-color:red;
    position: relative;
    //display: flex;
    //width: 65%;
    margin: auto;
    background-color: #fb6e2e;

    .item {
      height: 35px;
      cursor: pointer;
      font-size: 16px;
      font-family: Helvetica;
      display: flex;
      color: white;
      padding: 0 0;
      line-height: 45px; //chỉnh lại để tránh logo và chữ k đều dòng
      //width: 33.33%;
      font-weight: 700;
      align-items: center;
      justify-content: center;
      border-right: 1px dashed #e8e8e8;

      .icon {
        margin-right: 5px;
      }
    }

    .disabled-header-top-btn {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0px;
      right: 0px;
      width: 35px;
      height: 35px;
      background-color: #ffffff52;
    }

  }

  .header-middle {
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 66px;
    .header-middle-content {
      display: flex;
      height: 36px;
      position: relative;
      justify-content: space-between;
      .header-logo-large {
        height: 34px;
      }
      .header-logo-small{
        display: none;
      }

      .header-search-content {
        display: flex;
        align-items: center;
        width: 40%;
        height: 36px;
        margin: 0 60px;
        border-radius: 30px;
        background-color: white;

        #header-search-box {
          width: 100%;
          height: 100%;
          padding: 0 0 0 20px;
          border: none;
          border-radius: 30px;
          outline: none;
          font-size: 15px;
        }

        .search-icon {
          cursor: pointer;
          width: 50px;
        }
      }

      .header-middle-right {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 15px;
        //.header-middle-user{
        //  margin-right: 15px;
        .btn {
          padding: 0px;
          margin: 0 20px 0 0;
        }
        .btn-menu{
          cursor: pointer;
          display: none;
        }
        .btn:hover {
          color: yellow;
          //}
        }
      }

    }
  }
  .header-bottom{
    .nav-list{
      height: 45px;
      display: flex;
      //justify-content: space-between;
      align-items: center;
      padding: 0;
      margin-bottom: 0px;
      .nav-item{
        height: 100%;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 10px 15px;
        font-weight: 500;
      }
      .nav-item:hover{
        background-color: white;
        transition: background-color 1s;
      }
    }
  }
}
#nav-menu-small-screen{
  display: none;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left:0;
  z-index: 10;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
  width: 0px;
  transition: width 0.5s;
  .nav-item-sm{
    cursor: pointer;
    position: relative;
    font-size: 15px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 7%;
    border-bottom: 1px solid #0000000d ;
    .icon{
      right: 10px;
      position: absolute;
    }
  }
  .nav-item-sm:hover{
    color: #fb6e2e;
  }
}
@media only screen and(max-width: 1200px) {
  .header-middle-content{
    width: 100%;
  }
  .header-logo-large {
    display: none;
  }
  .header-logo-small{
    display: block !important;
    height: 34px;
  }
  .header-middle-right {
    text-align: right;
    .btn{
      display: none;
    }
    .btn-menu{
      display: block!important;
    }
  }
  .header-bottom{
    display: none;
  }
  #nav-menu-small-screen{
    display: block!important;
  }
}