.sale-container {
  max-width: 1240px;
  width: 100%;

  .sale-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .sale-title-icon {
      margin-right: 5px;
    }
  }

  .sale-slider {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;

    .sale-slides {
      display: flex;
      transition: transform 0.25s ease;

      .sale-slide {
        height: 100%;
        width: 100%;
        flex-shrink: 0;
        position: relative;

        .sale-slide-image {
          width: 100%;
        }
      }
    }
  }
}