.sale-container {
  max-width: 1240px;
  width: 100%;

  .sale-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;

    .sale-title-icon {
      margin-right: 5px;
    }
  }

  .sale-slider {
    width: 100%;
    overflow: hidden;
    padding: 0;

    .sale-slides {
      width: 200%;
      display: flex;

      input {
        display: none;
      }

      #sale-radio1:checked ~ .first{
        margin-left: 0;
      }

      #sale-radio2:checked ~ .first{
        margin-left: -50%;
      }

      .sale-slide {
        width: 50%;
        transition: 0.5s;

        &-first {
          background: url("https://timan.vn/Thumb.ashx?s=1200&file=/UploadImages/shops/banner/tet-2022/1500X360/nu.jpg") center / cover no-repeat;
          width: 100%;
          padding-top: 24%;
          border-radius: 4px;
        }

        &-second {
          background: url("https://timan.vn/Thumb.ashx?s=1200&file=/UploadImages/shops/banner/tet-2022/1500X360/nam.jpg") center / cover no-repeat;
          width: 100%;
          padding-top: 24%;
          border-radius: 4px;
        }
      }
    }
  }
}