.selection-item{
  cursor: pointer;
  margin: 0;
  width: calc(100%/6);
  min-width:calc(100%/6);
  //display: flex;
  //justify-content: center;
  .selection-item-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
    width: 80%;
    margin: 0px 10% 10px 10%;
    .img{
      max-width: 100%;
      height: auto;
      transition: all 0.5s;
    }
  }
  .selection-item-image:hover{
    .img{
      transform: scale(1.1,1.1);
    }
  }
  .selection-item-title{
    width: 100%;
    text-align: center;
}
}

@media only screen and(max-width: 1200px)  {
  .selection-item{
    width: calc(100%/4);
    min-width: calc(100%/4);
  }
}
@media only screen and(max-width: 768px)  {
  .selection-item{
    width: calc(100%/3);
    min-width: calc(100%/3);
  }
}
//@media only screen and(max-width: 1200px)  {
//  .selection-item{
//    width: calc(100%/4);
//  }
//}